<p id="notice"><%= notice %></p>

<h1>
  <strong>Carmodel:</strong>
  <%= @car.carmodel %>
</h1>


 <img src="<%= @car.imageurl %>" alt="Girl in a jacket" width="500" > 
<p>
  <strong>Carmake:</strong>
  <%= @car.carmake %>
</p>

<p>
  <strong>Videourl:</strong>
  <%= @car.videourl %>
</p>

<iframe  height="315" src="<%= @car.videourl %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 


<p>
  <strong>Milage:</strong>
  <%= @car.milage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>

<p>
  <strong>Exteriorcolor:</strong>
  <%= @car.exteriorcolor %>
</p>

<p>
  <strong>Interiorcolor:</strong>
  <%= @car.interiorcolor %>
</p>

<p>
  <strong>Mpg:</strong>
  <%= @car.mpg %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @car.fueltype %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @car.transmission %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>Stocknumber:</strong>
  <%= @car.stocknumber %>
</p>

<p>
  <strong>Vehiclhistory:</strong>
  <%= @car.vehiclhistory %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
